<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
  <h1 translate>login.title</h1>
  <div class="form-group">
    <label for="username" translate>login.label.username</label>
    <input id="username" class="form-control" size="50" type="text" formControlName="username"/>
  </div>
  <div class="form-group">
    <label for="password" translate>login.label.password</label>
    <input id="password" class="form-control" size="50" type="password" formControlName="password"/>
  </div>
  <p *ngIf="success" class="alert alert-primary" translate>login.message.loginsuccessful</p>
  <p *ngIf="error" class="alert alert-danger" translate>login.message.loginfailed</p>
  <div class="btn-group">
    <button class="btn btn-primary" type="submit" translate>login.button.login</button>
    <button class="btn btn-danger" type="reset" (click)="logout()" translate>login.button.logout</button>
  </div>
</form>
