<div>
  <h1>{{title}}</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div>
      <label for="username">Username</label>
      <input id="username" type="text" formControlName="username"/>
    </div>
    <div>
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password"/>
    </div>
    <button class="button" type="submit">Login</button>
    <p *ngIf="error" class="error">Wrong username or password</p>
  </form>
</div>
